{% extends 'base.html' %}

{% block title %}上传认证资料{% endblock %}

{% block content %}
    <div class="login-page">
    <h2>普通员工请上传工卡/员工证明</h2>
    <h2>HR请上传公司营业执照</h2>
    <form enctype="multipart/form-data" action="/cms/certification_upload/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success btn-lg btn-block" type="submit">提交认证</button>
    </form>
    <form action="/cms/dashboard/" style="margin-top: 10px;
    width: 330px;" method="get">
        <button class="btn btn-info btn-lg btn-block" >跳过</button>
    </form>
    </div>
{% endblock %}