{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="login-page container">
    <h2>登录</h2>
    {% if messages %}
        <div class="span12">
        {% for message in messages %}
            <div class="alert alert-danger alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
      <form action="/cms/login/" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <a href="/cms/register/" class="btn btn-lg btn-info btn-block" role="button" value="查看">注册</a>
      </form>
  </div>
{% endblock %}