<div id="{{ modal_form_id }}" class="modal fade" ariahidden="True">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">X</a>
                <h1 style="text-align:center;">
                    {{ modal_form_title }}
                </h1>
            </div>
            <div class="modal-body">

                <p> 申请人：<b id="modal-applicant-name"></b></p>
                <p> 申请职位：<b id="modal-position-name"></b></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>