language: python
python:
- '3.5'
node_js:
- '7'
services:
- postgresql
env:
  global:
  - DJANGO=1.8
  - PYTHON=python3.5
  - CI=false
cache:
  directories:
  - "$HOME/.cache/pip"
  - "$VIRTUAL_ENV/lib/$PYTHON/site-packages"
  - "$TRAVIS_BUILD_DIR/my-app/node_modules"
before_install:
- openssl aes-256-cbc -K $encrypted_433397760b40_key -iv $encrypted_433397760b40_iv
  -in kdt_rsa.enc -out ~/.ssh/kdt_rsa -d
- openssl aes-256-cbc -K $encrypted_211849c5e74d_key -iv $encrypted_211849c5e74d_iv
  -in config.py.enc -out $TRAVIS_BUILD_DIR/officeCat/config.py -d
- ssh -V
- chmod 700 ~/.ssh/
- chmod 600 ~/.ssh/kdt_rsa
- echo -e "Host 106.14.134.47\n\tIdentityFile ~/.ssh/kdt_rsa" >> ~/.ssh/config
- less ~/.ssh/config
- pip install -U pip
install:
- pip install -r requirements.txt
before_script:
- cd my-app/
- npm install
script:
- npm run --silent build
after_success:
- ssh root@106.14.134.47 "cd ~/officeCat/ && git checkout deploy && git pull"
- cd $TRAVIS_BUILD_DIR/my-app/
- scp -r build/ root@106.14.134.47:~/officeCat/my-app/
- ssh root@106.14.134.47 "~/officeCat/prepareBackend.sh"
- echo "build and deploy successfully!"
branches:
  only:
  - deploy
addons:
  ssh_known_hosts: 106.14.134.47
