language: python
python:
- '3.5'
node_js:
- '7'
services:
- postgresql
env:
  global:
  - DJANGO=1.8
  - PYTHON=python3.5
  - CI=false
cache:
  directories:
  - "$HOME/.cache/pip"
  - "$VIRTUAL_ENV/lib/$PYTHON/site-packages"
  - "$TRAVIS_BUILD_DIR/my-app/node_modules"
before_install:
- openssl aes-256-cbc -K $encrypted_433397760b40_key -iv $encrypted_433397760b40_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv officeCat_rsa ~/.ssh/
- mv config.py ~/officeCat/officeCat/
- ssh -V
- chmod 700 ~/.ssh/
- chmod 600 ~/.ssh/officeCat_rsa
- echo -e "Host 47.105.154.254\n\tIdentityFile ~/.ssh/officeCat_rsa" >> ~/.ssh/config
- less ~/.ssh/config
- pip install -U pip
install:
- pip install -r requirements.txt
before_script:
- cd my-app/
- npm install
script:
- npm run --silent build
after_success:
- ssh root@106.14.134.47 "cd ~/officeCat/ && git checkout deploy && git pull"
- cd $TRAVIS_BUILD_DIR/my-app/
- scp -r build/ root@106.14.134.47:~/officeCat/my-app/
- ssh root@106.14.134.47 "~/officeCat/prepareBackend.sh"
- echo "build and deploy successfully!"
branches:
  only:
  - deploy
addons:
  ssh_known_hosts: 47.105.154.254
